/* 배너 */
#banner{
    position:relative; 
    height:45rem;
}
#banner>ul#bannerList{
    height:45rem;
}
#banner>ul#bannerList>li{
    display:none;
    position:absolute; 
    width:100%; height:45rem;
}
#banner>ul#bannerList>li.on{
    display:block; 
    z-index:100;
}
#banner>ul#bannerList>li:nth-child(1){
    background:url(../imgs/banner01.jpg) no-repeat 0 0;
    background-size: cover;
}
#banner>ul#bannerList>li:nth-child(2){
    background:url(../imgs/banner02.jpg) no-repeat 0 0;    
}
#banner>ul#bannerList>li:nth-child(3){
    background:url(../imgs/banner03.jpg) no-repeat 0 0;    
}
#banner>ul#bannerList>li>div.center{
    padding-top:7.8rem;
    height:37.2rem;
}
#banner>ul#bannerList>li>div.center>strong{
    display: block; 
    font:4.1rem/8.7rem "HY견고딕","맑은고딕",sans-serif;
    text-shadow:0.2rem 0.2rem 0 #000; 
    color:#fff;
}
#banner>ul#bannerList>li>div.center>p{
    font-family: 'MaplestoryOTFLight';
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    color:#fff;
}
#banner>ul#bannerList>li>div.center>a{
    display:block; 
    margin-top:2.5rem;
    width:12rem; height:4.4rem;
    border:0.1rem solid #fff;
    text-align:center; 
    font:1.5rem/4.4rem "맑은고딕",sans-serif; 
    color:#fff;
}

#banner>div#controllBox{
    position:absolute; z-index:200;
    left:calc(50% - 50rem); top:0;
    width:100rem; height:45rem;
}
#banner>div#controllBox>p.prevBtn{
    position:absolute; 
    left:-5rem; top:19rem;
    width:3rem; height:5rem;
    background: url(../imgs/sub_mainVisual_controls_2019.png) no-repeat 0 -45rem;
    font-size:0; line-height:0;
    cursor:pointer;
}
#banner>div#controllBox>p.nextBtn{
    position:absolute; 
    right:-5rem; top:19rem;
    width:3rem; height:5rem;
    background: url(../imgs/sub_mainVisual_controls_2019.png) no-repeat 100% -45rem;
    font-size:0; line-height:0;
    cursor:pointer;
}
#banner>div#controllBox>div#bannerController{
    position:absolute; z-index:200;
    bottom:6.5rem;
    width:100%; height:1rem;
    text-align: center;
    font-size:0; line-height:0;
}
#banner>div#controllBox>div#bannerController>p.bannerPlay{
    display: inline-block; 
    width:1rem; height:1rem; 
    background:url(../imgs/btn_slide2.png) no-repeat 0 -1.1rem; 
    cursor:pointer;
}
#banner>div#controllBox>div#bannerController>p.bannerPlay.off{
    background-position:0 0;
}
#banner>div#controllBox>div#bannerController>ul#bannerBullet{
    display: inline-block; 

}
#banner>div#controllBox>div#bannerController>ul#bannerBullet>li{
    cursor:pointer;
    display: inline-block; 
    margin:0 0.4rem;
    width:1rem; height:1rem; 
    background:rgba(255,255,255,0.4);
    border-radius:0.5rem; 
    transition:all .3s ease;
}
#banner>div#controllBox>div#bannerController>ul#bannerBullet>li.on{
    width:2rem; 
    background:rgba(255,255,255,1);
}


/* 멤버 서비스 */
#member{
    position:relative; 
    width:100%; height:0;
}
#member>ul{
    position:absolute; z-index: 300;
    left:calc(50% - 30rem); top:-3rem;
    padding:0 1.5rem;
    width:63rem; height:5.5rem;
    background:#fff;
    box-shadow:0 0.5rem 1rem rgba(160,160,160,.3);
}
#member>ul>li{
    float:left; 
}
#member>ul>li>a{
    position:relative;
    display:block; 
    padding:0 3rem;
    height:5.5rem;
    letter-spacing:-.1rem;
    font-family: 'MaplestoryOTFLight';
    font-size: 1.7rem;
    line-height: 5.5rem;
    color:#333;
}
#member>ul>li:not(:last-child)>a:after{
    position:absolute; right:0; top:1.5rem;
    content: "";
    border-right:0.1rem solid #d6d6d6;
    width:0; height:2.5rem; 
}


/* 이벤트 */
#event{/* 회색배경으로 body만큼 늘어나는 block요소 */
    padding-top:8.8rem;
    height:49.9rem;
    background:#FFEFF5;
}
#event>div.center{/* 컨텐츠를 중앙으로 모아주는 역할 block요소*/
    position:relative;
    height:40.5rem; 
}
#event>div.center>h3{/*전체 제목*/
    float:left;
    margin-right:63.5rem;
    font-family: 'MaplestoryOTFLight';
    font-size: 3rem;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;
}
#event>div.center>h4{/* 컨텐츠들의 실질적인 제목 - 이벤트관련 제목 일행정렬 */
    cursor:pointer;
    float:left; 
    margin-top:.3rem;
    margin-right:3.5rem;
    font-family: 'MaplestoryOTFLight';
    font-size: 1.5rem;
    line-height: 2.9rem;
    color:#949790;
    cursor:pointer;
}
#event>div.center>h4.on,
#event>div.center>h4:hover
{
    font-weight:bold;
    color:#17abe9;
    border-bottom:0.1rem solid #17abe9;
}
#event>div.center>div.conts{/* 이벤트에 관련된 내용을 묶어줌 겹쳐있음 */
    position:absolute; left:0; top:6.3rem;
    width:100%; height:30.1rem;
    background:#FFEFF5;
}

#event>div.center>div.conts.on{
    z-index:100;
}
#event>div.center>div.conts>p.eventBtnL{
    cursor:pointer;
    position:absolute;
    left:-5rem; top:13rem; 
    width:3rem; height:5rem;
    background:#fff url(../imgs/sub_mainVisual_controls_2019.png) no-repeat 0 -45rem;
    font-size:0; line-height: 0;
}
#event>div.center>div.conts>p.eventBtnR{
    cursor:pointer;
    position:absolute;
    right:-5rem; top:13rem; 
    width:3rem; height:5rem;
    background:#fff url(../imgs/sub_mainVisual_controls_2019.png) no-repeat 100% -45rem;
    font-size:0; line-height: 0;
}

#event>div.center>div.conts>.eventBox{/* 화면에서 보이는 ul이외의 ul들을 숨기는 block요소 */
    overflow:hidden;
    width:100%; height:30.1rem;
}
#event>div.center>div.conts>.eventBox>.eventList{/*ul 목록을 묶어주는 div */
    width:300rem;
    height:30.1rem;
}
#event>div.center>div.conts>.eventBox>.eventList>ul{/*일행 정렬되는 목록 ul들*/
    float:left;
}
#event>div.center>div.conts>.eventBox>.eventList>ul>li{
    cursor:pointer;
    float:left;
    margin-right:1.3rem;
    border:0.5rem solid #fff;
    width:23rem; height:29.1rem; 
    background:#fff;
}
#event>div.center>div.conts>.eventBox>.eventList>ul>li:hover{
    border-color:#18abeb;
}
#event>div.center>div.conts>.eventBox>.eventList>ul>li:last-child{
    margin-right:0;
}
#event>div.center>div.conts>.eventBox>.eventList>ul>li>p{}
#event>div.center>div.conts>.eventBox>.eventList>ul>li>p>img{
    width:100%;
}
#event>div.center>div.conts>.eventBox>.eventList>ul>li>strong{
    display: block; 
    margin:1.5rem 1.5rem 0 1.5rem;
    height:4.4rem;
    font-family: 'MaplestoryOTFLight';
    font-size: 1.6rem;line-height: 2.2rem;
    color:#38373d;
}
#event>div.center>div.conts>.eventBox>.eventList>ul>li>time{
    
    font:1.2rem/2.2rem "돋움",sans-serif;
    color:#6c6c6c;
    letter-spacing: -0.1rem;
}
#event>div.center>div.conts>.eventBox>.eventList>ul>li>time:first-of-type{
    margin-left:1.5rem;
}
#event>div.center>div.conts>div.controller{
    position:absolute; bottom:-4rem;
    width:100%; height:1rem;
    text-align: center;
    font-size:0; line-height:0;
    background:#FFEFF5;
}
#event>div.center>div.conts>div.controller>p{ /*재생 일시멈춤*/
    cursor:pointer;
    display: inline-block; 
    width:1rem;  height:1rem;
    background:url(../imgs/btn_slide2.png) no-repeat 0 -1.1rem;
}
#event>div.center>div.conts>div.controller>ul{ /* 페이징 처리 */
    display: inline-block; 
}
#event>div.center>div.conts>div.controller>ul>li{
    cursor:pointer;
    display: inline-block; 
    margin:0 0.4rem;
    border-radius:0.5rem;
    width:1rem; height:1rem;
    background:#47484d;
}
#event>div.center>div.conts>div.controller>ul>li.on{
    width:2rem;
    background:#1aabe2;
}
#event>div.center>div.conts>p.more{
    cursor:pointer;
    position:absolute; 
    right:0; top:-6.2rem; 
    border:0.1rem solid #98989a;
    width:2.8rem; height:2.8rem;
    text-align: center; line-height: 2.5rem;
}
#event>div.center>div.conts>p.more>a{
    display:block; 
    width:2.8rem; height:2.8rem;
    color:#98989a;
    font-size:2rem;
}
#event>div.center>div.conts>p.more:hover{
    border-color:#17abe9;
    background:#17abe9;
}
#event>div.center>div.conts>p.more:hover>a{
    color:#fff;
}


/* install */
#install{

    height: 57rem;
    background: url(../imgs/artboard-studio-B40ztSGQTZY-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#install>.center{
    position:relative; 

}
#install>.center>div{
    margin-left: 16rem;
    margin-top:12rem;
    width: 70rem;
}
#install>.center>div>h3{
    margin-bottom: 3rem; 
    font-family: 'Katuri';
    font-size: 5rem;
    line-height: 5.5rem;
    color: rgb(255, 255, 255);
}
#install>.center>div>p{
    font-family: "Nanum Gothic", 돋움, Dotum, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
#install>.center>div>ul{}
#install>.center>div>ul>li{
    margin-right:4rem;
    float:left;
}

/* best card */
#bestCard{
    clear:both;
}
#bestCard>.center{
    padding: 100px 0;
}
#bestCard>.center>h3{
    font-weight:bold;
    font-family: "Nanum Gothic Bold", 돋움, Dotum, sans-serif;
    font-size: 33px;
    margin-bottom: 30px;
}

#notice{
    overflow:hidden;
    padding: 100px 0;
    background-color: #dcecf4;
}
#notice>.center{
    overflow:hidden;
}

#notice>.center>#notice01 {
    box-sizing:border-box;
    float: left;
    width: 49rem;
    height: 40.5rem;
    position: relative;
    background-color: #fff;
    padding: 3rem;
}
#notice>.center>#notice01>h3{
    position:absolute; left:3rem; top:3rem; z-index:9999;
    font-weight:bold;
    font-family: "Nanum Gothic Bold", 돋움, Dotum, sans-serif;
    font-size: 3.3rem;
    margin-bottom: 3rem;
}

#notice>.center>#notice01>dl{
    box-sizing:border-box;
    position:relative;
    width: 100%;
    height:100%;
}
#notice>.center>#notice01>dl>dt{
    float:left;
    padding: 0 15px;
}
#notice>.center>#notice01>dl>dt>a{
    color: #999;
    font-weight: bold;
    line-height: 3rem;
    font-size: 15px;
}
#notice>.center>#notice01>dl>dt:nth-child(1){
    padding-left:16rem;
}
#notice>.center>#notice01>dl>dt.on>a{
    border-bottom: 1px solid #18abeb;
    color: #18abeb;
}
#notice>.center>#notice01>dl>dd.txt{
    position:absolute;
    left:0; bottom:0; 
    width:100%; height:29.5rem; 
    background:#fff;
}
#notice>.center>#notice01>dl>dd.txt.on{
    z-index:1000;
}
#notice>.center>#notice01>dl>dd.txt>ul{
    
}
#notice>.center>#notice01>dl>dd.txt>ul>li{
    margin-bottom: 1rem;
    position: relative;
    background: url(https://www.standardchartered.co.kr/np/assets/images/kr/page/self_ico03.gif) no-repeat 0 10px;
    padding-left: 1.8rem;
}
#notice>.center>#notice01>dl>dd.txt>ul>li>a{
    font-size: 1.4rem; line-height:2.2rem;
    overflow:hidden;
    color: #555;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
#notice>.center>#notice01>dl>dd.more{
    position:absolute;
    right:0; top:0;    
}
#notice>.center>#notice01>dl>dd.more>a{
    display: block;
    padding: 0.7rem;
    width:1.4rem; height:1.4rem;
    text-align: center;
    font-weight: normal;
    color: #999;
    font-size: 20px;
    line-height:1.4rem;
    border: 0.1rem solid #999;
    background-color: transparent;
    
}
#notice>.center>#notice01>dl>dd.more.on{
    z-index:1000;
}


#notice>.center>#notice02{
    float: right;
    width: 49rem;
}
#notice>.center>#notice02>.bnr{
    width:49rem;
}
#notice>.center>#notice02>.bnr img{
    width:49rem;
}

#notice>.center>#notice02>ul{

}
#notice>.center>#notice02>ul>li{
    float: left;
    width: 50%;
    margin-top: 1rem;
}
#notice>.center>#notice02>ul>li:nth-child(odd)>a{    margin-right: 0.5rem;}
#notice>.center>#notice02>ul>li:nth-child(even)>a{    margin-left: 0.5rem;}
#notice>.center>#notice02>ul>li>a{
    display: block;
    position: relative;
    padding: 1.4rem 3rem;
    background-color: rgb(255, 255, 255);
    font-family: "Nanum Gothic", 돋움, dotum, sans-serif;
    font-size: 1.5rem;
    line-height:2.8rem;
    color: rgb(51, 51, 51);
    
    border-width: .2rem;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}
#notice>.center>#notice02>ul>li>a>span{
    position: absolute;
    top: 1.1rem;
    right: 1.5rem;
    display: inline-block;
    width: 3.7rem;
    height: 3.2rem;
    background: url(https://www.standardchartered.co.kr/np/assets/images/kr/page/icon_banner_group.png) no-repeat right top;
    background-size: auto 3.2rem;
}
#notice>.center>#notice02>ul>li>a>span.ico_cust{
    background-position:0 0;
}
#notice>.center>#notice02>ul>li>a>span.ico_fin{
    background-position:-12rem 0;
}
#notice>.center>#notice02>ul>li>a>span.ico_exc{
    background-position:-23.5rem 0;
}
#notice>.center>#notice02>ul>li>a>span.ico_rate{
    background-position:-34.8rem 0;
}
#notice>.center>#notice02>ul>li>a>span.ico_time{
    background-position:-46rem 0;
}
#notice>.center>#notice02>ul>li>a>span.ico_fee{
    background-position:-57.8rem 0;
}